/* ------------------------------------------
COLORS
-------------------------------------------*/

$brand: #F1C195;
$dark: #616161;
$light-background: #fcfcfc;
$white: #ffffff;



/* ------------------------------------------
BREAKPOINTS
-------------------------------------------*/


$break-xs: 	320px;
$break-s: 	600px;
$break-m: 	900px;
$break-l: 	1200px;

@mixin breakpoint( $point ) {
	@media only screen and ( min-width: $point ) { @content; }
}


/* ------------------------------------------
RESETS
-------------------------------------------*/


body, html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 100;
	box-sizing: border-box;
}

img {
	overflow: hidden;
	max-width: 100%;
	height: auto;
}


/* ------------------------------------------
HELPER CLASSES
-------------------------------------------*/


.container {
	margin: 0	auto;
	max-width: 1200px;
	width: 92%;
	@include breakpoint( $break-s ) {
		width: 90%;
	}
	@include breakpoint( $break-m ) {
		width: 86%;
	}
}

.grid {
	display: grid;
}


/* ------------------------------------------
MAKE ME BEM!!!!!
-------------------------------------------*/

a.button-mini, a.call-to-action {
	display: inline-block;
	background-color: transparent;
	color: $brand;
	border: 0.15rem solid $brand;
	border-radius: 0.5rem;
	text-transform: uppercase;
	transition: all 0.3s;
	&:hover {
		background-color: $brand;
		color: $white;
	}
}
a.button-mini {
	font-size: 0.8rem;
	padding: 0 0.5rem;
	justify-self: end;
	align-self: start;
}
a.call-to-action {
	font-size: 1rem;
	padding: 0.5rem 2rem;
	margin: 4rem auto 0;
	justify-self: center;
}







.grid-card {
	display: grid;
	align-items: start;
}

.product-card {
	img {
		margin-bottom: 0.5rem;
	}
	img, h3 a {
		transition: all 0.3s;
	}
	&:hover{
		img {
			transform: scale(1.01);
		}
		h3 a {
			color: #F1C195;
		}
		button {
			color: $white;
			background-color: $brand;
		}
	}
}



@include breakpoint( $break-xs ) {

	.xs-card-one {
		grid-template-columns: 1fr;
		gap: 4rem 0rem;
	}
	.xs-card-two {
		grid-template-columns: 1fr 1fr;
		gap: 4rem 1rem;
	}
	.xs-card-three {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem 1rem;
	}
	.xs-card-four {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem 1rem;
	}
}

@include breakpoint( $break-s ) {

	.s-card-one {
		grid-template-columns: 1fr;
		gap: 2rem 0rem;
	}
	.s-card-two {
		grid-template-columns: 1fr 1fr;
		gap: 2rem 2rem;
	}
	.s-card-three {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem 2rem;
	}
	.s-card-four {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem 1rem;
	}
}

@include breakpoint( $break-m ) {
	.m-card-one {
		grid-template-columns: 1fr;
		gap: 4rem 0rem;
	}
	.m-card-two {
		grid-template-columns: 1fr 1fr;
		gap: 4rem 4rem;
	}
	.m-card-three {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 4rem 4rem;
	}
	.m-card-four {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2.5rem 2.5rem;
	}
}

@include breakpoint( $break-l ) {
	.l-card-one {
		grid-template-columns: 1fr;
		gap: 4rem 0rem;
	}
	.l-card-two {
		grid-template-columns: 1fr 1fr;
		gap: 6rem 6rem;
	}
	.l-card-three {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 6rem 6rem;
	}
	.l-card-four {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3rem 3rem;
	}
}






.baking {
	.card {
		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: 0rem 1rem;
		.image {
			margin-bottom: 0.5rem;
		}
		p.description {
			font-size: 1rem;
		}
	}
	@include breakpoint( $break-m ) {
		.card {
			grid-template-columns: 1fr;
			gap: 0rem 4rem;
			.image {
				margin-bottom: 0.5rem;
			}
			.details {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0rem 1rem;
				p {
					display: none;
				}
			}
			&:last-child {
				display: none;
			}
		}
	}
}



// .about-us {
// 	background-color: #fcfcfc;
// 	.card {
// 		align-items: center;
// 		display: grid;
// 		grid-template-columns: 1fr 2.5fr;
// 		gap: 0rem 2rem;
// 		margin-bottom: 1rem;
// 		p {
// 			font-size: 1rem;
// 			text-align: right;
// 		}
// 		.image {
// 			justify-self: center;
// 		}
// 		&:nth-child(even){
// 			grid-template-columns: 2.5fr 1fr;
// 			.image {
// 				order: 2;
// 			}
// 			p {
// 				order: 1;
// 				text-align: left;
// 			}
// 		}
// 	}
// 	@include breakpoint( $break-s ) {
// 		.card {
// 			grid-template-columns: 1fr 2fr;
// 			gap: 0rem 3rem;
// 			margin-bottom: 3rem;
// 			&:nth-child(even){
// 				grid-template-columns: 2fr 1fr;
// 			}
// 			p {
// 				font-size: 1.2rem;
// 			}
// 		}
// 	}
// 	@include breakpoint( $break-m ) {
// 		.card {
// 			grid-template-columns: 1fr 2.5fr;
// 			gap: 0rem 4rem;
// 			margin-bottom: 4rem;
// 			&:nth-child(even){
// 				grid-template-columns: 2.5fr 1fr;
// 			}
// 			p {
// 				font-size: 1.5rem;
// 			}
// 		}
// 	}
// }