/* ------------------------------------------
COLORS
-------------------------------------------*/

$brand: #F1C195;
$dark: #616161;
$light-background: #fcfcfc;
$white: #ffffff;



/* ------------------------------------------
BREAKPOINTS
-------------------------------------------*/


$break-xs: 	320px;
$break-s: 	600px;
$break-m: 	900px;
$break-l: 	1200px;

@mixin breakpoint( $point ) {
	@media only screen and ( min-width: $point ) { @content; }
}


/* ------------------------------------------
RESETS
-------------------------------------------*/


body, html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 100;
	box-sizing: border-box;
}

img {
	overflow: hidden;
	max-width: 100%;
	height: auto;
}


/* ------------------------------------------
HELPER CLASSES
-------------------------------------------*/


.container {
	margin: 0	auto;
	max-width: 1200px;
	width: 92%;
	@include breakpoint( $break-s ) {
		width: 90%;
	}
	@include breakpoint( $break-m ) {
		width: 86%;
	}
}

.grid {
	display: grid;
}


/* ------------------------------------------
END
-------------------------------------------*/