/* ------------------------------------------
FOOTER
-------------------------------------------*/

.footer {
	width: 100%;
	border-top: 0.5rem solid $brand;
	padding: 4rem 0;
}

.footer-content {
	display: grid;
	grid-template-columns: 83% 17%;
	@include breakpoint( $break-s ) {
		grid-template-columns: 75% 25%;
	}
}

.footer-content__contact-details {
	margin-bottom: 1rem;
}

.footer-content__text {
	color: $dark;
	font-size: 1.3rem;
	list-style-type: none;
	@include breakpoint( $break-m ) {
		font-size: 1.5rem;
	}
	a {
		color: $dark;
		transition: all 0.3s;
		&:hover {
			color: $brand;
		}
	}
}

.footer-content__text--sm-heading {
	margin: 1rem 0 1rem;

}

.footer-content__sm-list-item {
	margin-right: 0.5rem;
	display: inline;
	&:last-child {
		margin-right: 0;
	}
}

.footer-content__sm-icon {
	transition: all 0.3s;
	&:hover {
		filter: grayscale(100%);
		transform: rotate(360deg);
	}
}

.footer-content__map {
	img {
		transition: all 0.3s;
		border: 0.25rem solid transparent;
		&:hover {
			border: 0.25rem solid $brand;
			border-radius: 0.5rem;
		}
	}
}


/* ------------------------------------------
HEADER
-------------------------------------------*/


.header {
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 0;
	left: 0;
}


/* ------------------------------------------
HERO
-------------------------------------------*/


.hero {
	align-items: flex-end;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0rem 0rem 10vh 10vh rgba(0,0,0,0.75);
	display: flex;
	height: 85vh;
	justify-content: center;
	padding-bottom: 2rem;
}

.hero__text-container {
	color: $white;
	text-align: center;
}

.hero__text-heading {
	font-size: 2.5rem;
	flex-wrap: nowrap;
}

.hero__text-intro {
	font-size: 1.2rem;

	@include breakpoint( $break-m ) {
		font-size: 1.5rem;
	}

	a {
		color: $white;
		text-decoration: underline;
		transition: all 0.3s;
		&:hover {
			color: $brand;
		}
	}
}

.hero--home {
	background-image: url("../img/header_home.jpg");
	height: 100vh;
	align-items: center;
}

.hero--about-us {
	background-image: url("../img/header_about.jpg");
}

.hero--our-recipies {
	background-image: url("../img/header_recipies.jpg");
}

.hero--shop {
	background-image: url("../img/header_shop.jpg");
}

.hero--choc-goo-chew {
	background-image: url("../img/header_recipies_choc_goo_chew.jpg");
}

.hero__text-heading--home {
	font-size: 2rem;
	text-transform: uppercase;
	@include breakpoint( $break-s ) {
		font-size: 3rem;
	}
	@include breakpoint( $break-m ) {
		font-size: 4rem;
		line-height: 4rem;
	}
}

.hero__text-intro--home {
	font-size: 1.3rem;
	@include breakpoint( $break-s ) {
	font-size: 1.5rem;
	}
	@include breakpoint( $break-m ) {
		font-size: 2rem;
	}
}


/* ------------------------------------------
LOGO
-------------------------------------------*/


.logo {
	width: 4rem;
	margin: 1rem 2vw;
	@include breakpoint( $break-xs ) {
		width: 5rem;
	}
	@include breakpoint( $break-s ) {
		width: 6rem;
		margin: 2rem 3vw;
	}
	@include breakpoint( $break-m ) {
		width: 8rem;
		margin: 2rem 3vw;
	}
}

.logo__image {
		transition: all 0.3s;
		transform: rotate(-7deg);
		&:hover {
			transform: rotate(353deg);
		}
	}


/* ------------------------------------------
NAVIGATION
-------------------------------------------*/


	.navigation {
		position: absolute;
		padding: 1rem 0.5rem 0 0;
		right: 0;
		top: 0;
		@include breakpoint( $break-s ) {
			margin: 2rem 3vw;
		}
	}

	.navigation__link {
		color: $brand;
		display: block;
		margin: 0 0.5rem 0.5rem;
		text-align: right;
		transition: all 0.3s;
		&:hover {
			color: $white;
		}
		@include breakpoint( $break-xs ) {
			font-size: 1.3rem;
		}
		@include breakpoint( $break-s ) {
			display: inline;
			font-size: 1rem;
			margin: 0	0 0 1.5rem;
			text-align: center;
			text-transform: uppercase;
		}
		@include breakpoint( $break-m ) {
			margin: 0 0 0 2rem
		}
		@include breakpoint( $break-l ) {
			margin: 0 0 0 3rem
		}
	}

	.navigation__link--shop {
		@include breakpoint( $break-s ) {
			border: 0.15rem solid $brand;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			&:hover {
				background-color: $brand;
				color: $white;
			}
			@include breakpoint( $break-s ) {
				&:before {
					content: "" !important;
				}
			}
		}
	}

	.navigation__link--selected {
		&:before {
			content: "\25B8\0020";
		}
	}


/* ------------------------------------------
SEARCHBAR
-------------------------------------------*/


.searchbar {
	border: .095rem $brand solid;
	border-radius: 2rem;
	display: grid;
	height: 3rem;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	@include breakpoint( $break-m ) {
		width: 50%;
	}
}

.searchbar__search-icon {
	background-image: url("../img/icon_search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 99% 99%;
	height: 100%;
	justify-self: end;
	width: 3rem;
}


/* ------------------------------------------
SECTION-PRIMARY
-------------------------------------------*/


.section-primary {
	padding: 6rem 0;
}

.section-primary--search {
	padding: 4rem 0 0rem;
	margin-bottom:  -2rem;
}

.section-primary__title {
	color: $dark;
	font-size: 2rem;
	margin: 0 auto 2rem;
	text-align: center;
	@include breakpoint( $break-m ) {
		font-size: 2.5rem;
	}
}

.section-primary__text-intro {
	color: $dark;
	font-size: 1.2rem;
	margin: 0 auto 3rem;
	text-align: center;
	@include breakpoint( $break-m ) {
		font-size: 1.5rem;
		max-width: 90%;
	}
	a {
		color: $dark;
		transition: all 0.3s;
		text-decoration: underline;

		&:hover {
			color: $brand;
		}
	}
}

