header {
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 0;
	left: 0;

	div.logo {
		width: 4rem;
		margin: 1rem 2vw;
		img {
			opacity: 1;
			transition: all 0.3s;
			transform: rotate(-7deg);
			&:hover {
				transform: scale(1.05, 1.05);
				transform: rotate(353deg);
			}
		}
	}
}

nav {
	position: absolute;
	padding: 1rem 0.5rem 0 0;
	right: 0;
	top: 0;
	a {
		display: block;
		text-align: right;
		margin: 0.5rem 0.5rem 1rem;
		color: $brand;
		font-size: 0.7rem;
		text-transform: uppercase;
		transition: all 0.3s;
		&:hover.nav-about, &:hover.nav-recipies, &:hover.nav-shop {
			border-bottom: 0.15rem solid $brand;
		}
	}
}

section.search {
	padding: 4rem 0 0rem;
	margin-bottom:  -2rem;
	.searchbar {
		border: .095rem $brand solid;
		border-radius: 2rem;
		height: 3rem;
		width: 80%;
		margin: 0 auto;
		display: grid;
		padding: 0;
		.search-icon{
			justify-self: end;
			background-image: url("../img/icon_search.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 99% 99%;
			width: 3rem;
			height: 100%;
		}
	}
}

footer {
	width: 100%;
	border-top: 0.5rem solid $brand;
	padding: 4rem 0;

	.container {
		display: grid;
		grid-template-columns: 83% 17%;
		.details {
			.contact-details {
				margin-bottom: 1rem;
				li:nth-child(2){
					margin-bottom: 1rem;
				}
				span.postcode {
					white-space:nowrap;
				}
			}
			.sm-section {
				.social-media-links {
					margin-top: 0.5rem;
					li {
						margin-right: 0.5rem;
						display: inline;
						&:last-child {
							margin-right: 0;
						}
						a {
							img {
								transition: all 0.3s;
							}
							&:hover {
								filter: grayscale(100%);
								img {
									transform: scale(1.05, 1.05);
									transform: rotate(360deg);
								}
							}
						}
					}
				}
			}
		}
	}
	.map {
		display: grid;
		.map-image {
			justify-self: end;
			width: 100%;
			img {
				transition: all 0.3s;
				border: 0.25rem solid transparent;
				&:hover {
					border: 0.25rem solid $brand;
					border-radius: 0.5rem;
				}
			}
		}
	}
}








@include breakpoint( $break-s ) {
	nav {
		a {
			display: inline;
			text-align: center;
			margin: 0.75rem;
			&.nav-shop {
				border: 0.15rem solid $brand;
				border-radius: 0.5rem;
				padding: 0.5rem 1rem;
				&:hover {
					background-color: $brand;
					color: $white;
				}
			}
		}
	}

	footer {
		.container {
			grid-template-columns: 75% 25%;
		}
	}
}


@include breakpoint( $break-m ) {
	header {
		div.logo {
			width: 8rem;
			margin: 2rem 3vw;
		}
	}
	nav {
		padding: 2rem 1rem 0 0;
		a {
			font-size: 1rem;
		}
	}
	section.search {
		.searchbar {
			width: 50%;
		}
	}

	footer {
		.details {
			li, p {
				font-size: 1.5rem;
			}
		}
	}
}