header {
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 0;
	left: 0;
}

nav {
	position: absolute;
	padding: 1rem 0.5rem 0 0;
	right: 0;
	top: 0;
	a {
		display: block;
		text-align: right;
		margin: 0.5rem 0.5rem 1rem;
		color: $brand;
		font-size: 0.7rem;
		text-transform: uppercase;
		transition: all 0.3s;
		&:hover.nav-about, &:hover.nav-recipies, &:hover.nav-shop {
			border-bottom: 0.15rem solid $brand;
		}
	}
}

section.search {
	padding: 4rem 0 0rem;
	margin-bottom:  -2rem;
	.searchbar {
		border: .095rem $brand solid;
		border-radius: 2rem;
		height: 3rem;
		width: 80%;
		margin: 0 auto;
		display: grid;
		padding: 0;
		.search-icon{
			justify-self: end;
			background-image: url("../img/icon_search.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 99% 99%;
			width: 3rem;
			height: 100%;
		}
	}
}



@include breakpoint( $break-s ) {
	nav {
		a {
			display: inline;
			text-align: center;
			margin: 0.75rem;
			&.nav-shop {
				border: 0.15rem solid $brand;
				border-radius: 0.5rem;
				padding: 0.5rem 1rem;
				&:hover {
					background-color: $brand;
					color: $white;
				}
			}
		}
	}
}

@include breakpoint( $break-m ) {
	nav {
		padding: 2rem 1rem 0 0;
		a {
			font-size: 1rem;
		}
	}
	section.search {
		.searchbar {
			width: 50%;
		}
	}
}