.hero {
	background-image: url("../img/header_home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0rem 0rem 10vh 10vh rgba(0,0,0,0.75);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.text h1 {
		color: $white;
		font-size: 2.5rem;
		text-transform: uppercase;
		text-align: center;
	}
	.text p {
		color:$white;
		font-size: 1.3rem;
		text-align: center;
	}
}

.baking {
	.card {
		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: 0rem 1rem;
		.image {
			margin-bottom: 0.5rem;
		}
		p.description {
			font-size: 1rem;
		}
		img, h3 a {
			transition: all 0.3s;
		}
		h3 {
			margin-bottom: 0.5rem;
			text-align: left;
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
		&:hover{
			img {
				transform: scale(1.01);
			}
			h3 a {
				color: #F1C195;
			}
			button {
				color: $white;
				background-color: $brand;
			}
		}
	}
}


.about-us {
	background-color: #fcfcfc;
	.card {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		gap: 0rem 2rem;
		margin-bottom: 1rem;
		p {
			font-size: 1rem;
			text-align: right;
		}
		.image {
			justify-self: center;
		}
		&:nth-child(even){
			grid-template-columns: 2.5fr 1fr;
			.image {
				order: 2;
			}
			p {
				order: 1;
				text-align: left;
			}
		}
	}
}


.our-recipies {
	background: url(../img/background-our-recipies.jpg) no-repeat;
	background-size: cover;

	.card {
		p {
			margin-bottom: 0;
		}
		img, p a {
			transition: all 0.3s;
		}
		&:hover{
			img {
				transform: scale(1.01);
			}
			p a {
				color: #F1C195;
			}
			button {
				color: $white;
				background-color: $brand;
			}
		}
	}
}


footer {
	width: 100%;
	border-top: 0.5rem solid $brand;
	padding: 4rem 0;

	.container {
		display: grid;
		grid-template-columns: 50% 50%;
			.details {
				.contact-details {
					margin-bottom: 1rem;
					li:nth-child(2){
						margin-bottom: 1rem;
					}
				}
				.social-media-links {
					margin-top: 0.5rem;
					li {
						margin-right: 0.5rem;
						display: inline;
						a {
							img {
								transition: all 0.3s;
							}
							&:hover {
								filter: grayscale(100%);
								img {
									transform: scale(1.05, 1.05);
									transform: rotate(360deg);
								}
							}
						}

					}
				}

			}
			.map {
				display: grid;
				.map-image {
					justify-self: end;
					width: 50%;
					img {
						transition: all 0.3s;
						border: 0.25rem solid transparent;
						&:hover {
							border: 0.25rem solid $brand;
							border-radius: 0.5rem;
						}
					}
				}
			}
	}
}

@include breakpoint( $break-s ) {
	.baking {
		.card {
			h3 {
				line-height: 2rem;
			}
		}
	}

	.about-us {
		.card {
			grid-template-columns: 1fr 2fr;
			gap: 0rem 3rem;
			margin-bottom: 3rem;
			&:nth-child(even){
				grid-template-columns: 2fr 1fr;
			}
			p {
				font-size: 1.2rem;
			}
		}
	}
}

@include breakpoint( $break-m ) {
	.hero {
		.text h1 {
			font-size: 4rem;
		}
		.text p {
			font-size: 2rem;
		}
	}

	.baking {
		.card {
			grid-template-columns: 1fr;
			gap: 0rem 4rem;
			margin-bottom: 4rem;
			.image {
				margin-bottom: 0.5rem;
			}
			.details {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0rem 1rem;
				p {
					display: none;
				}
				.button-mini {
					justify-self: end;
				}
			}
			&:last-child {
				display: none;
			}
		}
	}

	.about-us {
		.card {
			grid-template-columns: 1fr 2.5fr;
			gap: 0rem 4rem;
			margin-bottom: 4rem;
			&:nth-child(even){
				grid-template-columns: 2.5fr 1fr;
			}
			p {
				font-size: 1.5rem;
			}
		}
	}
}

