.hero {
	background-image: url("../img/header_home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0rem 0rem 10vh 10vh rgba(0,0,0,0.75);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.text h1 {
		color: $white;
		font-size: 2.5rem;
		text-transform: uppercase;
		text-align: center;
	}
	.text p {
		color:$white;
		font-size: 1.3rem;
		text-align: center;
	}
}

.baking {
	.card {
		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: 0rem 1rem;
		.image {
			margin-bottom: 0.5rem;
		}
		p.description {
			font-size: 1rem;
		}
	}
}


.about-us {
	background-color: #fcfcfc;
	.card {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		gap: 0rem 2rem;
		margin-bottom: 1rem;
		p {
			font-size: 1rem;
			text-align: right;
		}
		.image {
			justify-self: center;
		}
		&:nth-child(even){
			grid-template-columns: 2.5fr 1fr;
			.image {
				order: 2;
			}
			p {
				order: 1;
				text-align: left;
			}
		}
	}
}

.our-recipies {
	background: url(../img/background-our-recipies.jpg) no-repeat;
	background-size: cover;
}



@include breakpoint( $break-s ) {
	.about-us {
		.card {
			grid-template-columns: 1fr 2fr;
			gap: 0rem 3rem;
			margin-bottom: 3rem;
			&:nth-child(even){
				grid-template-columns: 2fr 1fr;
			}
			p {
				font-size: 1.2rem;
			}
		}
	}
}

@include breakpoint( $break-m ) {
	.hero {
		.text h1 {
			font-size: 4rem;
		}
		.text p {
			font-size: 2rem;
		}
	}

	.baking {
		.card {
			grid-template-columns: 1fr;
			gap: 0rem 4rem;
			.image {
				margin-bottom: 0.5rem;
			}
			.details {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0rem 1rem;
				p {
					display: none;
				}
			}
			&:last-child {
				display: none;
			}
		}
	}

	.about-us {
		.card {
			grid-template-columns: 1fr 2.5fr;
			gap: 0rem 4rem;
			margin-bottom: 4rem;
			&:nth-child(even){
				grid-template-columns: 2.5fr 1fr;
			}
			p {
				font-size: 1.5rem;
			}
		}
	}
}

