#our-recipies {

	&.our-recipies-sub-page {
		.recipie-container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 4rem 0;
			.ingredients {
				background-color: #fcfcfc;
				padding: 2rem;
				h3 {
					text-align: center;
				}
				li {
					display: inline;
					&:after {
						content: ',';
					}
					&:last-child:after {
						content:'.';
					}
				}
			}
			@include breakpoint( $break-m ) {
				grid-template-columns: 4fr 2fr;
				gap: 0rem 4rem;
				.ingredients {
					border-radius: 0 0 1rem 1rem;
					align-self: start;
					margin-top:	-6rem;
					padding: 4rem 0 2rem;
					text-align: center;

					li {
						display: block;
						&:after {
							content: '';
						}
						&:last-child:after {
							content:'';
						}
					}
				}
			}
		}
		.your-baking-photos {
			background-color: #fcfcfc;
		}
	}

	section.our-recipies {
		background: none;
	}

	section.baking {
		background-color: #fcfcfc;
	}
}


